/* * {
    margin: 0;
    padding: 0;
}  */
/* pertains to every element */

body {
    background-color: #f4f4f4;
    color: #555555;
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal; */

    /* same as above */
    font: normal 16px Arial, Helvetica,sans-serif;

    line-height: 1.6em;
    margin:0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}
/* active is when we click on the element, it changes to green for a momebt */
a:active {
    color: green;
}

/* a:visited {
    color: black;
} */

/* Colors in css : color names, html5 color names eg coral, hexadecimal, rgb */


/* Web safe fonts are fonts we can just use without importing them, for specialty fonts such as google fonts we need to impor them  */

/* em used usually for responsive type of websites */

.container {
    width: 80% ;
    margin: auto;
}
/* margin auto puts an even amt of spacing around an element hence making it centered */


.button {
    background-color: #333;
    color : #fff;
    padding:10px 15px;
    border: none;
}

.button:hover {
    background: red;
    color:#fff;
}

/* userd to clear floats so as to prevent any further content from being put right beneath the float elements */
.clr {
    clear:both;
}

.box-1 {
    background-color: #333;
    color: #fff;
    /* border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid; */


    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    border:5px red solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    /* same as above */
    padding: 20px; 
    margin-top: 20px;

}

.box-1 h1 {
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;

}

.box-2 {
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0px;
}

.categories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul { 
    padding: 0;
    padding-left: 20px;
    list-style: square;
    list-style: none;

}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;

}

.my-form {
    padding: 20px;

}

.my-form .form-group {
    padding-bottom: 15px;

}

.my-form label {
    display: block;

}
/* how to target jus the input buttons without affecting button */
/* and how to change style for multiple elements at once */
.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width:100%;

}

.block {
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing:border-box;
    /* what dis odes it takes padding n border into the calculation of width rather than ADDING into it */
}


#main-block {
    float: left;
    width: 70%;
    padding:15px;
    box-sizing: border-box;

}

#sidebar {
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;

}

.p-box {
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image:url('../images/bgimage.jpg');
    background-position: 100px 200px;
    background-repeat: no-repeat;
    background-position: center center;
}
/* if we want to position h1 with respect to p-box we need to set position for p-box to RELATIVE */

/* if we dont set p-box to relatiuve, h1 does not have a parent element that is set to relative posn and hence will use the entire document as its container */

.p-box h1 {
    position: absolute;
    top: 100px;
    left: 200px;
}

.p-box h2 {
    position: absolute;
    bottom: 40px;
    right:100px;
}

.fix-me {
    position: fixed;
    top: 400px;
}

/* fixed posn causes the element to be 400px from top of browser no matter if we scroll up or down */

/* PSEUDO CLASSES */
.my-list li:first-child {
    background: red;
}

.my-list li:last-child{
    background: blue;
}

/* target 3rd element */
.my-list li:nth-child(3){
    background: yellow;
}

.my-list li:nth-child(even){
    background: grey;
}

